* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: aqua;
    color: white;
}

.hamburger {
    list-style: none;
}

.menyOn {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.invisible {
    display: none;
}

.wrapper {
    margin: 0 5vw;
}

