* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --myOrange: #f4a261;
  --myGreen: #2a9d8f;
}

html {
  font-size: 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: var(--myOrange);
  color: white;
}

h2 {
  margin: 1rem 0 0 0;
}

.text {
  margin: 0 0 2rem 0;
}

.unitConverter {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50vw;
}

.converterForms {
  display: flex;
  justify-content: space-between;
}


.converterForms label input, select{
  height: 2em;
  font-size: rem;
}

.converterButton {
  margin: 0.5rem auto;
}

.converterButton button {
  border: 1px solid black;
  background-color: var(--myGreen);
  color: white;
  padding: 0.5em 2em;
}



.wrapper {
  margin: 0 10vw;
}

footer {
  margin: 1rem 0 0 0;
  padding: 0.5rem 2rem;
  background-color: var(--myOrange);
  color: white;
}

