* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: goldenrod;
  color: white;
}

h2 {
  margin: 1rem 0 0 0;
}

.text {
  margin: 0 0 2rem 0;
}

.converterForms {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  width: 50vw;
}

.converterFrom div button,
.converterTo div button {
  border: none;
  margin: 0 auto;
  font-size: 0.8rem;
  width: 100%;
}

.wrapper {
  margin: 0 10vw;
}

footer {
 margin: ;
  padding: 0.5rem 2rem;
  background-color: goldenrod;
  color: white;
}

/*
.navList {
    list-style: none;
    display: flex;
}

.navList li {
    margin: 0.5rem;
}

.navList li:last-child {
    margin-right: 1rem;
}

.navList li a{
    font-size: 1.5rem;
    color:#fff;
    text-decoration: none;
}
*/
